.DS_Store
.idea/
*.iml

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
**/doc/api/
**/pubspec.lock
!/pubspec.lock
pubspec_overrides.yaml

# Node
node_modules/
dist/

# Logs
*.log
